<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781112323030-3qt10fn9k9vp64h1t6ic4lsvss84p5li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781112323030-3qt10fn9k9vp64h1t6ic4lsvss84p5li</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781112323030-8bfiin8qj78htefj7btfdic6timc9e6p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0jJs7a_Gxn2VkTUvfbyH0Zbala2v8m4k</string>
	<key>GCM_SENDER_ID</key>
	<string>781112323030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efecode.appprueba</string>
	<key>PROJECT_ID</key>
	<string>ionic-curso-a6ca4</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-curso-a6ca4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781112323030:ios:12ce9f217b9247d18c9277</string>
	<key>DATABASE_URL</key>
	<string>https://ionic-curso-a6ca4.firebaseio.com</string>
</dict>
</plist>